.banners {
    -webkit-align-items: stretch;
            align-items: stretch;
    @media (max-width: 1000px) {
        -webkit-align-items: flex-start;
                align-items: flex-start;
        .col-6 {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .banner,
    .tags-block {
        min-height: 260px;
        height: 100%;
        @media (max-width: 600px) {
            min-height: 0px;
        }
    }
}

.banner {
    background-image: url("../images/tags-bg.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    padding: 30px;
    @media (max-width: 600px) {
        padding: 20px;
    }
    
    color: #FFF;
    text-align: right;
    
    &__title {
        padding: 8px 12px 10px;
        background-color: rgba(255,255,255,.2);
        font-size: 17px;
        display: inline-block;
        margin-bottom: 35px;
        @media (max-width: 600px) {
            font-size: 16px;
        }
    }
    &__des {
        margin: 0 0 35px auto;
        line-height: 1.4;
        max-width: 360px;
    }
    &__price {
        display: inline-block;
        padding: 6px 12px 8px;
        background-color: rgba(255,255,255,.2);
        span {
            font-size: 27px;
            font-weight: 100;
            @media (max-width: 600px) {
                font-size: 22px;
            }
        }
    }
}

.tags-block {
    padding: 30px;
    overflow: hidden;
    background-image: url("../images/tags-bg.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @media (max-width: 600px) {
        padding: 20px;
    }
    ul {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 25px;
           -moz-column-gap: 25px;
                column-gap: 25px;
        list-style-type: none;
        padding: 25px 32px 10px 32px;
        width: 370px;
        position: relative;
        background-color: #FFF;
        height: 175px;
        margin-left: 29%;
        text-align: left;
        -webkit-border-radius: 16px;
                border-radius: 16px;
        @media (max-width: 1200px) {
            display: block;
            margin: 0 auto;
        }
        li {
            margin-bottom: 6px;
            a {
                color: $blue;
                font-size: 15px;
                display: inline-block;
                position: relative;
                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0; right: 0;
                    bottom: -2px;
                    margin: auto;
                    max-width: 0;
                    height: 1.5px;
                    background-color: $blue;
                    @include transition(all,.1s);
                }
                &:hover:after {
                    max-width: 100%;
                }
            }
        }
        > img {
            position: absolute;
            right: 92%;
            top: -20px;
            width: auto;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        &:after {
            content: "";
            display: block;
            width: 40px;
            height: 35px;
            position: absolute;
            bottom: -34px;
            right: 55px;
            background-image: url("../images/triangle.png");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}