.button {
    display: inline-block;
    width: 160px;
    max-width: 100%;
    border-radius: 25px;
    font-size: 12px;
    height: 50px;
    line-height: 48px;
    font-weight: 600;
    background-color: #7CC990;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: #71BA51;
    }

    &--blue {
        background-color: #3d8eb9;
        height: 60px;
        -webkit-border-radius: 80px;
                border-radius: 80px;
        &:hover {
            background-color: rgba(61, 142, 185, 0.8);
        }
    }

    &--img {
        background: transparent;
        height: auto;
        width: 200px;
        color: $blue;
        padding: 0;
        line-height: normal;
        border-radius: 0;
        &:hover {
            background-color: transparent;
        }

        img {
            display: block;
            margin: 0 auto 2px;
        }
        span {
            display: inline-block;
            text-align: center;
            border-bottom: 1px dashed $blue;
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            text-transform: none;
            color: #6aafd3;
        }
        &:hover {
            span {
                border-color: transparent;
            }
        }
    }
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  peru;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 23px 20px;
         -o-background-size: 23px 20px;
            background-size: 23px 20px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}

.slick-dots {
    bottom: 126px;
    text-align: left;
    padding-left: calc((100% - 1420px) / 2);
    z-index: 100;
    @media (max-width: 1500px) {
        padding-left: calc((100% - 1180px) / 2);
    }
    @media (max-width: 1200px) {
        padding: 0;
        width: 100%;
        text-align: center;
        bottom: 20px;
    }
    li {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        position: relative;
        margin: 0 4px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        button {
            display: none;
        }
        &:before {
            display: none;
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            margin: auto;
            background-color: $yellow;
            width: 5px;
            height: 5px;
            -webkit-border-radius: 50% 50%;
                border-radius: 50% 50%;
        }
        &.slick-active {
            border-color: $yellow;
            &:before {
                display: block;
            }
        }
    }
}


input[type=text],
input[type=email],
input[type=tel],
textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    background-color: #F5F5F5;
    border: 0;
    height: 50px;
    text-align: left;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.2);
    color: #444;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9a9a9a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #9a9a9a;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9a9a9a;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #9a9a9a;
}

.form-group {
    margin-bottom: 20px;
}
textarea {
    resize: none;
    height: 190px;
    padding-top: 14px;
    padding-bottom: 14px;
}











.form {
    width: 460px;
    background-color: $yellow;
    padding: 4px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    @media (max-width: 1200px) {
        width: 360px;
        max-width: 100%;
    }
    button {
        display: block;
        background-color: transparent;
        border: none;
        margin: 0px auto;
        padding: 0;
        color: #FFF;
        font-size: 17px;
        cursor: pointer;
        width: 100%;
        border: 20px solid transparent;
        @media (max-width: 760px) {
            margin: 10px auto;
        }
        span {
            border-bottom: 1px dashed #fff;
            @include transition(all,.2s);
        }
        &:hover {
            span {
                border-color: transparent;
            }
        }
    }
    &--filter {
        @media (max-width: 760px) {
            width: 100%;
        }
    }
}
.input-group {
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    position: relative;
    @media (max-width: 760px) {
        height: 45px;
    }
    &:first-of-type {
        -webkit-border-top-left-radius: 5px;
                border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
                border-top-right-radius: 5px;
    }
    &:last-of-type {
        border: none;
        webkit-border-bottom-left-radius: 5px;
                border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
                border-bottom-right-radius: 5px;
    }
    input {
        padding: 0 16px;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 15px;
        color: #9a9a9a;
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-color: #fff;
        box-shadow: none;
        
        @media (max-width: 760px) {
            font-size: 14px;
        }
        @media (max-width: 400px) {
            font-size: 13px;
        }
        &[name="in"],
        &[name="out"] {
            background-image: url("../images/calendar.svg");
            -webkit-background-size: 18px 16px;
                 -o-background-size: 18px 16px;
                    background-size: 18px 16px;
        }
        &[name="place"] {
            background-image: url("../images/pin.svg");
            -webkit-background-size: 13px 20px;
                 -o-background-size: 13px 20px;
                    background-size: 13px 20px;
        }
    }
    select {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 16px;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 15px;
        color: #9a9a9a;
        appearance:none;
       -moz-appearance:none; /* Firefox */
       -webkit-appearance:none; /* Safari and Chrome */
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-color: #FFF;
        background-image: url("../images/select-down.png");
        @media (max-width: 760px) {
            font-size: 14px;
        }
        @media (max-width: 400px) {
            font-size: 13px;
        }
    }
    &--two {
        @include flex();
        input {
            width: 50%;
            background-position: 91% 50%;
            &:first-of-type {
                border-right: 1px solid #EEE;
            }
        }
    }
    .input-rating {
        width: 100%;
        height: 100%;
        text-align: right;
        padding: 14px 16px;
        position: relative;
        &__pick {
                width: 105px;
            height: 24px;
            position: absolute;
            right: 16px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        span {
            font-size: 15px;
            color: #9a9a9a;
            display: block;
            float: left;
            margin-top: 6px;
            @media (max-width: 760px) {
                margin-top: 2px;
                font-size: 14px;
            }
            @media (max-width: 400px) {
                margin-top: 2px;
                font-size: 13px;
            }
        }
        @media (max-width: 760px) {
            padding: 12px 16px;
        }
    }
}

.input-rating,
.input-rating label::before
{
    display: inline-block;
}
 
.input-rating label:hover:before,
.input-rating label:hover ~ label:before
{
    background-image: url("../images/star-gold.svg");
}
 
.input-rating *
{
    margin: 0;
    padding: 0;
}
 
.input-rating input
{
    display: none;
}
 
.input-rating
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.input-rating label
{
    color: #ccc;
}
 
.input-rating label::before
{
    content: "";
    width: 18px;
    height: 18px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/star.svg");
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    @media (max-width: 400px) {
        width: 16px;
        height: 16px;
    }
}
 
.input-rating input:checked ~ label:before
{
    background-image: url("../images/star-gold.svg");
}




.ui-datepicker {
    background-color: #fff;
    border: 1px solid $yellow;
    padding: 5px;
    z-index: 200!important;
    display: none;

    .ui-datepicker-header {
        position: relative;
        padding: 6px 15px;
        text-align: center;
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
        position: absolute;
        top: 50%;
        color: #fff;
        width: 15px;
        height: 15px;
        background-color: $yellow;
        font-size: 0;
        color: transparent;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }

    .ui-datepicker-prev {
        left: 0;
        background-image: url(../images/left-arrow.svg);
    }
    .ui-datepicker-next {
        right: 0;
        background-image: url(../images/right-arrow.svg);
    }

    .ui-datepicker-calendar {
        text-align: center;
        color: $text;
        width: 240px;

        a {
            color: $text;
            display: block;
        }
        
        td:not(.ui-state-disabled):hover,
        .ui-datepicker-current-day {
            background-color: $yellow;

            a {
                color: #fff;
            }
        }
    }

}

.form-registration {
    .flex-row {
        margin: 0;
    }
    .input-wrap {
        position: relative;
        height: 60px;
        margin-bottom: 20px;
        background: #FFF;
        @include flex();
        &.col-6 {
            padding-left: 0;
            padding-right: 20px;
            &:nth-of-type(2n) {
                padding-right: 0;
            }
            @media(max-width: 1200px) {
                width: 50%;
            }
            @media(max-width: 767px) {
                width: 100%;
                padding-right: 0;
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            left: 60px;
            top: 0;
            width: 1px;
            background-color: #eee;
        }
        &--person {
            background-image: url("../images/person.svg");
            background-repeat: no-repeat;
            background-position: 20px 20px;
        }
        &--key {
            background-image: url("../images/key.svg");
            background-repeat: no-repeat;
            background-position: 20px 20px;
        }
        &--single {
            input {
                width: 58%;
                @media(max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
    input {
        height: 100%;
        border-radius: 2px 4px 4px 2px;
        border: 2px solid #e9eff1;
        width: 100%;
        padding-left: 80px;
        position: relative;
        background: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        &:not(#confirmPassword):valid {
            background-image: url("../images/done.svg");
            background-position: 95% 50%;
            background-repeat: no-repeat;
        }
        &#confirmPassword.valid {
            background-image: url("../images/done.svg");
            background-position: 95% 50%;
            background-repeat: no-repeat;
        }
    }
    .button {
        display: block;
    }
    .radio-group {
        margin-bottom: 35px;
        input,
        label,
        .radio-wrap {
            display: inline-block;
            vertical-align: middle;
        }
        label {
            color: #666666;
            margin-top: 2px;
            border-bottom: 1px dotted  transparent;
            cursor: pointer;
        }
        .radio-wrap {
            position: relative;
            margin-right: 12px;
            margin-right: 50px;
            padding-left: 45px;
            @media(max-width: 767px) {
                margin-right: 20px;
            }
            @media(max-width: 400px) {
                margin-right: 0px;
                margin-bottom: 20px;
                display: block;
            }
            &:last-child {
                margin-bottom: 0;
            }
            i {
                width: 30px;
                height: 30px;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-image: url("../images/check-grey.svg");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
            }
            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 30px;
                height: 30px;
                z-index: 2;
                cursor: pointer;
            }
            input:checked + i {
                background-image: url("../images/check-orange.svg");
            }
            input:checked + i + label {
                color: #ffa400;
                border-color:  #ffa400;
            }
        }
    }
}

#divCheckPasswordMatch {
    margin-bottom: 15px;
    color: #AAA;
}