.button {
    background-color: $blue;
    width: 180px;
    height: 60px;
    line-height: 60px;
    
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    
    display: inline-block;
    border: none;
    cursor: pointer;
    @media (max-width: 1500px) {
        width: 160px;
        height: 50px;
        line-height: 50px;
    }
    &--img {
        background: transparent;
        height: auto;
        width: 200px;
        color: $blue;
        padding: 0;
        line-height: normal;
        img {
            display: block;
            margin: 0 auto 2px;
        }
        span {
            display: inline-block;
            text-align: center;
            border-bottom: 1px dashed $blue;
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            text-transform: none;
            color: #6aafd3;
        }
        &:hover {
            span {
                border: none;
            }
        }
    }
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  peru;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 23px 20px;
         -o-background-size: 23px 20px;
            background-size: 23px 20px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}

.slick-dots {
    bottom: 126px;
    text-align: left;
    padding-left: calc((100% - 1420px) / 2);
    z-index: 100;
    @media (max-width: 1500px) {
        padding-left: calc((100% - 1180px) / 2);
    }
    li {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        position: relative;
        margin: 0 4px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        button {
            display: none;
        }
        &:before {
            display: none;
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            margin: auto;
            background-color: $yellow;
            width: 5px;
            height: 5px;
            -webkit-border-radius: 50% 50%;
                border-radius: 50% 50%;
        }
        &.slick-active {
            border-color: $yellow;
            &:before {
                display: block;
            }
        }
    }
}


.ui-widget-header,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid $grey;
    background: $grey;
    color: $text;
}
.ui-widget.ui-widget-content {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.07);border: 1px solid $grey;
}


.form {
    width: 460px;
    background-color: $yellow;
    padding: 4px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    button {
        display: block;
        background-color: transparent;
        border: none;
        margin: 20px auto;
        padding: 0;
        color: #FFF;
        border-bottom: 1px dashed #fff;
        font-size: 17px;
        cursor: pointer;
    }
}
.input-group {
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    position: relative;
    &:first-of-type {
        -webkit-border-top-left-radius: 5px;
                border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
                border-top-right-radius: 5px;
    }
    &:last-of-type {
        border: none;
        webkit-border-bottom-left-radius: 5px;
                border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
                border-bottom-right-radius: 5px;
    }
    input {
        padding: 0 16px;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 15px;
        color: #9a9a9a;
        background-repeat: no-repeat;
        background-position: 95% 50%;
        &[name="in"],
        &[name="out"] {
            background-image: url("../images/calendar.svg");
            -webkit-background-size: 18px 16px;
                 -o-background-size: 18px 16px;
                    background-size: 18px 16px;
        }
        &[name="place"] {
            background-image: url("../images/pin.svg");
            -webkit-background-size: 13px 20px;
                 -o-background-size: 13px 20px;
                    background-size: 13px 20px;
        }
    }
    select {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 16px;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 15px;
        color: #9a9a9a;
        appearance:none;
       -moz-appearance:none; /* Firefox */
       -webkit-appearance:none; /* Safari and Chrome */
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-image: url("../images/select-down.png");
    }
    &--two {
        @include flex();
        input {
            width: 50%;
            background-position: 91% 50%;
            &:first-of-type {
                border-right: 1px solid #EEE;
            }
        }
    }
    .input-rating {
        width: 100%;
        height: 100%;
        text-align: right;
        padding: 14px 16px;
        span {
            font-size: 15px;
            color: #9a9a9a;
            display: block;
            float: left;
            margin-top: 6px;
        }
    }
}

.input-rating,
.input-rating label::before
{
    display: inline-block;
}
 
.input-rating label:hover:before,
.input-rating label:hover ~ label:before
{
    background-image: url("../images/star-gold.svg");
}
 
.input-rating *
{
    margin: 0;
    padding: 0;
}
 
.input-rating input
{
    display: none;
}
 
.input-rating
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.input-rating label
{
    color: #ccc;
}
 
.input-rating label::before
{
    content: "";
    width: 18px;
    height: 18px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/star.svg");
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
}
 
.input-rating input:checked ~ label:before
{
    background-image: url("../images/star-gold.svg");
}

