.footer {

    &-top {
        background-color: #252525;
        border-top: 1px solid #333333;
        color: #fff;

        .flex-row {
            margin: 0;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        .footer-subscribe,
        .footer-menu,
        .footer-address {
            padding: 50px 0;

            @media (max-width: 600px) {
                padding: 25px 0;
            }
        }

        .footer-menu,
        .footer-address {
            width: 25%;
        }

        .footer-menu {
            text-align: left;
            border-right: 1px solid #333333;

            li {
                color: #797979;
                font-size: 15px;
                list-style: none;

                @media (max-width: 1200px) {
                    font-size: 14px;
                }

                @media (max-width: 991px) {
                    font-size: 15px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;

                    @media (max-width: 1200px) {
                        margin-bottom: 5px;
                    }
                }

                a {
                    color: inherit;
                    position: relative;
                    &:after {
                        display: block;
                        content: "";
                        position: absolute;
                        left: 0; right: 0;
                        bottom: -2px;
                        margin: auto;
                        max-width: 0;
                        height: 1.5px;
                        background-color: #797979;
                        @include transition(all,.1s);
                    }
                }

                &.active a:after,
                a:hover:after {
                    max-width: 100%;
                }
            }

            .user-sign-out {
                font-size: 15px;
                margin-top: 60px;

                @media (max-width: 1200px) {
                    margin-top: 30px;
                    font-size: 14px;
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 28px;
                    margin-right: 12px;
                }

                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                a {
                    color: inherit;
                }
            }
        }

        .footer-subscribe {
            width: 50%;

            .footer-socials {
                padding-top: 50px;

                @media (max-width: 600px) {
                    padding-top: 25px;
                }

                a {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 10px;
                    opacity: .4;
                    -webkit-transition: all .2s;
                       -moz-transition: all .2s;
                        -ms-transition: all .2s;
                         -o-transition: all .2s;
                            transition: all .2s;
                    img {
                        display: block;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }


        .footer-address {
            border-left: 1px solid #333333;
            font-size: 15px;

            address {
                font-style: normal;
                padding: 25px 0 40px;
            }

            a {
                color: inherit;
                position: relative;
                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0; right: 0;
                    bottom: -2px;
                    margin: auto;
                    max-width: 0;
                    height: 1.5px;
                    background-color: #fff;
                    @include transition(all,.1s);
                }
                &:hover:after {
                    max-width: 100%;
                }
            }
        }

        @media (max-width: 991px) {
            .footer-subscribe,
            .footer-menu {
                width: 50%;
                text-align: center;
                border-bottom: 1px solid #333333;
            }

            .footer-address {
                width: 100%;
                border-left: 0;
            }
        }

        @media (max-width: 600px) {
            .footer-subscribe,
            .footer-menu {
                width: 100%;
                border-bottom: 1px solid #333333;
                border-right: 0;
            }
        }
    }



    &-bottom {
        background-color: #fff;
        color: #b8b8b8;
        font-size: 13px;
        padding: 35px 0 33px;

        @media (max-width: 1200px) {
            font-size: 12px;
            padding: 20px 0;
        }

        .flex-row {
            margin: 0;
        }

        .copyright,
        .studio {
            width: 25%;
        }

        .copyright {
            text-align: left;
        }

        .studio {
            text-align: right;

            a {
                color: $text;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .footer-mini-menu {
            width: 50%;

            li {
                display: inline-block;
                vertical-align: middle;
                color: $text;
                padding: 0 20px;
                margin-left: 0 -2px;

                &:not(:last-child) {
                    border-right: 1px solid $text;
                }

                a {
                    color: inherit;
                }
                
                a:hover,
                &.active a {
                    text-decoration: underline;
                }
            }
        }

        @media (max-width: 991px) {
            .copyright,
            .studio,
            .footer-mini-menu {
                width: 100%;
                text-align: center;
            }

            .footer-mini-menu {
                padding: 15px 0;
            }
        }
    }
}



.subscribe-form {
    text-align: center;
    border-bottom: 1px solid #333333;

    @media (max-width: 600px) {
        border-bottom: 0;
    }

    .form-group {
        position: relative;
        width: 360px;
        margin: 45px auto 60px;
        max-width: 95%;

        @media (max-width: 991px) {
            margin: 30px auto;
        }
    }

    &-title {
        padding: 0 10px;
        @media (max-width: 991px) {
            font-size: 13px;
        }

        @media (max-width: 600px) {
            font-size: 15px;
        }
    }

    input {
        display: block;
        width: 100%;
        height: 50px;
        padding: 0 70px 0 20px;
        border-radius: 4px;
        border: 0;
        font-size: 13px;
        color: $text;
        background-color: #fff;
        box-shadow: none;

        @media (max-width: 991px) {
            height: 40px;
        }
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;

        @media (max-width: 991px) {
            width: 40px;
            height: 40px;
        }

        img {
            display: block;
            margin: 0 auto;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        &:hover img {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}