         
.mainHeader {
    @include position(absolute, 0, 0, auto, 0);
    @include transition(all, .4s);
    height: 100px;
    z-index: 100;
    background: #fff;
    
    .wrapper {
        height: 100%;
        @include flex();
    }

    &__left,
    &__right {
        min-width: 250px;
        height: 100%;
    }
    &__left {
        text-align: left;
    }
    &__right {
        text-align: right;
        @include flex();
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 12px;
            a {
                color: $text;
                font-size: 15px;
            }
        }
    }
}

.social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    a {
        color: #fff;
        font-size: 18px;
        font-weight: 100;
    }
}

.logo {
    width: 180px;
    display: block;
    img {
        display: block;
        max-width: 100%;
    }
}

.mail,
.tel {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.languages {
    list-style-type: none;
    li {
        display: none;
        a {
            display: block;
            width: 42px;
            height: 42px;
            border: 1px solid #e0e0e0;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            text-align: center;
            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 90%;
                max-height: 90%;
                margin-top: 2px;
            }
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
        }
        &.active {
            display: block;
        }
    }
}

.log-in {
    height: 100%;
    padding: 0 30px;
    margin-left: 25px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: left;
    i {
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
        background-image: url("../images/user.svg");
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        color: $blue;
        font-size: 15px;
        width: 80px;
    }
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -2px;
    }
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 40px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: peru;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 10px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 10px; margin: auto;}

    &.active               {
        -webkit-transform: translate(260px);
           -moz-transform: translate(260px);
            -ms-transform: translate(260px);
             -o-transform: translate(260px);
                transform: translate(260px);
    }
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}


        @media (max-width: 1200px) {
            display: block;
        }

}
