         
.mainHeader {
    @include position(absolute, 0, 0, auto, 0);
    @include transition(all, .4s);
    height: 90px;
    z-index: 101;
    background: #fff;
    @media (max-width: 1200px) {
        height: 70px;
    }
    @media (max-width: 1000px) {
        bottom: 0;
        height: 100%;
        width: 100%;
        @include transition(all,.6s);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-100%);
           -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
             -o-transform: translateY(-100%);
                transform: translateY(-100%);
        &.active {
            position: fixed;
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
               -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                 -o-transform: translateY(0);
                    transform: translateY(0);
        }
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        padding: 0 25px;
        @include flex();
        @media (max-width: 1000px) {
            -webkit-align-items: center;
                    align-items: center;
            -webkit-justify-content: center;
                    justify-content: center;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            .logo {
                display: none;
            }
        }
    }

    &__left,
    &__right {
        min-width: 390px;
        height: 100%;
        @media (max-width: 1200px) {
            min-width: 200px;
        }
        @media (max-width: 1000px) {
            min-width: 0px;
            height: auto;
        }
    }
    &__left {
        text-align: left;
        height: auto;
    }
    &__right {
        text-align: right;
        @include flex($justify: flex-end);
        @media (max-width: 1000px) {
            text-align: center;
        }
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    @media (max-width: 1000px) {
        margin: 0px 0 40px;
    }
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 12px;
            @media (max-width: 1200px) {
                margin: 0 6px;
            }
            @media (max-width: 1000px) {
                display: block;
                margin: 15px auto;
                text-align: center;
            }
            a {
                color: $text;
                position: relative;
                font-size: 15px;
                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0; right: 0;
                    bottom: -2px;
                    margin: auto;
                    max-width: 0;
                    height: 1.5px;
                    background-color: $text;
                    @include transition(all,.1s);
                }
                &:hover:after {
                    max-width: 100%;
                }
                @media (max-width: 1200px) {
                    font-size: 13px;
                }
                @media (max-width: 1000px) {
                    font-size: 18px;
                }
            }
            &.active {
                a:after {
                    max-width: 100%;
                }
            }
        }
    }
}

.social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    a {
        color: #fff;
        font-size: 18px;
        font-weight: 100;
    }
    @media (max-width: 760px) {
        display: block;
        margin: 20px auto;
    }
}

.logo {
    width: 255px;
    display: block;
    img {
        display: block;
        max-width: 100%;
    }
    @media (max-width: 1200px) {
        width: 100%;
    }
    &--mobile {
        display: none;
        background: #FFF;
        padding: 10px;
        @media (max-width: 1000px) {
            display: block;
            width: 180px;
            margin: 0 auto;
            position: absolute;
            top: 0; left: 0; right: 0;
            margin: auto;
            z-index: 100;
        }
    }
}

.mail,
.tel {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.currency {
    border-right: 1px solid #eee;
    height: 100%;
    padding: 0 30px;
    @media (max-width: 1100px) {
        padding: 0 20px;
    }
    @media (max-width: 1000px) {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
    }
    a {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 42px;
        height: 42px;
        border: 1px solid #e0e0e0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 90%;
            max-height: 90%;
            margin-top: -2px;
        }
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.languages {
    list-style-type: none;
    padding: 0 5px 0 30px;
    @media (max-width: 1100px) {
        padding-left: 20px;
    }
    @media (max-width: 1000px) {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
    }
    li {
        display: none;
        a {
            display: block;
            width: 42px;
            height: 42px;
            border: 1px solid #e0e0e0;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            text-align: center;
            @media (max-width: 1200px) {
                width: 36px;
                height: 36px;
            }
            @media (max-width: 1000px) {
                width: 42px;
                height: 42px;
            }
            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 90%;
                max-height: 90%;
            }
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
        }
        &.active {
            display: block;
            @media (max-width: 1000px) {
                display: inline-block;
            }
        }
    }
}

.log-in {
    height: 100%;
    padding: 0 30px;
    margin-left: 25px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: left;
    @media (max-width: 1200px) {
        padding: 0 0 0 20px;
        margin-left: 10px;
        border:none;
    }
    @media (max-width: 1100px) {
        padding-left: 10px;
    }
    @media (max-width: 900px) {
        padding: 0 0px;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
        background-image: url("../images/user.svg");
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
        @media (max-width: 1200px) {
            width: 36px;
            height: 36px;
        }
        @media (max-width: 1000px) {
            width: 42px;
            height: 42px;
        }
    }
    span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        color: $blue;
        font-size: 15px;
        width: 80px;
        @media (max-width: 1200px) {
           font-size: 13px;
        }
        @media (max-width: 900px) {
            padding-left: 4px;
        }
        @media (max-width: 1000px) {
            font-size: 15px;
        }
    }
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -2px;
    }
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 40px;
    @include position(fixed, 10px, 10px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 110;
    background-color: $blue;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 10px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 10px; margin: auto;}

    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}


        @media (max-width: 1000px) {
            display: block;
        }

}
