.offer {
    height: 600px;
    position: relative;
    @include flex($direction:column,$alignI:center, $justify:center);

    .wrapper {
        @include flex();
        position: relative;
        z-index: 10;
        text-align: left;
    }

    &--slider {
        .offer--text {
            padding-bottom: 60px;
        }
    }

    &--text {
        width: 550px;
        color: #FFF;
    }
    
    h1,
    h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 25px;
        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background-color: rgba(255,255,255,.3);
            margin-top: 25px;
        }
        @media (max-width: 1200px) {
            font-size: 40px;
        }
        @media (max-width: 800px) {
            font-size: 32px;
        }
        @media (max-width: 600px) {
            font-size: 30px;
        }
    }
    p {
        font-size: 17px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


.offer__slider {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $grey;
    @media (max-width: 600px) {
        height: 500px;
    }
    .slick-track,
    .slick-list {
        height: 100%;
    }
    .slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 800px) {
            padding: 0 30px;
        }
        .button {
            margin-top: 16px;
        }
    }
}


.form {
    width: 460px;
    background-color: $yellow;
    padding: 4px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    button {
        display: block;
        background-color: transparent;
        border: none;
        margin: 20px auto;
        padding: 0;
        color: #FFF;
        border-bottom: 1px dashed #fff;
        font-size: 17px;
    }
}
.input-group {
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    position: relative;
    &:first-of-type {
        -webkit-border-top-left-radius: 5px;
                border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
                border-top-right-radius: 5px;
    }
    &:last-of-type {
        border: none;
        webkit-border-bottom-left-radius: 5px;
                border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
                border-bottom-right-radius: 5px;
    }
    input {
        padding: 0 16px;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 15px;
        color: #9a9a9a;
    }
    select {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 16px;
        width: 98%;
        height: 100%;
        border: none;
        font-size: 15px;
        color: #9a9a9a;
    }
    &--two {
        @include flex();
        input {
            width: 50%;
            &:first-of-type {
                border-right: 1px solid #EEE;
            }
        }
    }
    .input-rating {
        width: 100%;
        height: 100%;
        text-align: right;
        padding: 14px 16px;
        span {
            font-size: 15px;
            color: #9a9a9a;
            display: block;
            float: left;
            margin-top: 6px;
        }
    }
}

.input-rating,
.input-rating label::before
{
    display: inline-block;
}
 
.input-rating label:hover:before,
.input-rating label:hover ~ label:before
{
    background-image: url("../images/star-gold.svg");
}
 
.input-rating *
{
    margin: 0;
    padding: 0;
}
 
.input-rating input
{
    display: none;
}
 
.input-rating
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.input-rating label
{
    color: #ccc;
}
 
.input-rating label::before
{
    content: "";
    width: 18px;
    height: 18px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/star.svg");
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
}
 
.input-rating input:checked ~ label:before
{
    background-image: url("../images/star-gold.svg");
}
 
.acidjs-rating-disabled
{
    opacity: .50;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
