.offer {
    height: 610px;
    position: relative;
    padding-bottom: 100px;
    @include flex($direction:column,$alignI:center, $justify:center);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @media (max-width: 1000px) {
        height: auto;
        padding: 80px 0 80px;
        min-height: 480px;
    }
    @media (max-width: 340px) {
       min-height: 440px;
    }
    .wrapper {
        @include flex($justify: center);
        position: relative;
        z-index: 10;
        text-align: center;
        @media (max-width: 1200px) {
            padding: 0 15px;
        }
    }

    &--infoSides {
        .wrapper {
            text-align: left;
            -webkit-justify-content: space-between;
                    justify-content: space-between;
            h1,
            h2 {
                text-transform: none;
                font-size: 40px;
                @media (max-width: 1500px) {
                    font-size: 36px;
                }
                @media (max-width: 1000px) {
                    font-size: 32px;
                }
                @media (max-width: 600px) {
                    font-size: 28px;
                }
            }
        }
        .offer--text {
            width: 550px;
            @media (max-width: 1200px) {
                width: calc(100% - 400px);
            }
            @media (max-width: 760px) {
                width: 100%;
            }
        }
    }

    &--slider {
        .offer--text {
            padding-bottom: 60px;
            @media (max-width: 1200px) {
                text-align: center;
                padding-bottom: 0;
            }
        }
    }

    &--text {
        color: #FFF;
        @media (max-width: 760px) {
            & + .form {
                margin-top: 20px;
            }
        }
    }
    
    h1,
    h2 {
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        @media (max-width: 1500px) {
            font-size: 46px;
            line-height: 1.2;
        }
        @media (max-width: 1000px) {
            font-size: 38px;
        }
        @media (max-width: 600px) {
            font-size: 32px;
        }
        & + * {
            margin-top: 35px;
            @media (max-width: 1000px) {
                margin-top: 25px;
            }
            @media (max-width: 600px) {
                margin-top: 20px;
            }
        }
        & + p {
            &:before {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: rgba(255,255,255,.3);
                margin-bottom: 25px;
                 @media (max-width: 1000px) {
                     margin-top: 20px;
                 }
                 @media (max-width: 600px) {
                     margin-top: 15px;
                 }
            }
        }
    }
    p {
        font-size: 17px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media (max-width: 1500px) {
            font-size: 15px;
        }
        @media (max-width: 1000px) {
            font-size: 14px;
            margin-bottom: 15px;
        }
        @media (max-width: 600px) {
            font-size: 13px;
            margin-top: 10px;
        }
    }
    .scroll-down {
        margin-top: 100px;
        @media (max-width: 1000px) {
            margin-top: 80px;
        }
        @media (max-width: 760px) {
            margin-top: 40px;
        }
    }
}

.scroll-down {
    display: block;
    @include transition(all, .2s);
    -webkit-animation: bounce 4s infinite;
       -moz-animation: bounce 4s infinite;
         -o-animation: bounce 4s infinite;
            animation: bounce 4s infinite;
    &:hover {
        opacity: .5;
    }
}

@keyframes bounce  {
    0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
    40% {
    @include transform(translateY(-20px));
  }
    60% {
    @include transform(translateY(-10px));
  }
}

.breadcrumbs {
    height: 100px;
    margin-top: -100px;
    position: relative;
    z-index: 2;
    width: 100%;
    z-index: 2;
    @include flex($alignI:center, $justify:center);
    list-style-type: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
    @media (max-width: 760px) {
        height: auto;
        padding: 20px 10px;
        margin-top: 0px;
        background: #000;
    }
    &:before {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: #ffffff;
        opacity: 0.2;
        position: absolute;
        left: 0;
        top: 0;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        a {
            color: #fff;
            opacity: .5;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            @include transition(all, .2s);
            @media (max-width: 760px) {
                font-size: 10px;
            }
            &:hover {
                color: #ffb200;
                opacity: 1;
            }
        }
        &:after {
            display: inline-block;
            vertical-align: middle;
            width: 6px;
            height: 9px;
            margin: 0 16px;
            content:'';
            opacity: .5;
            background-image: url("../images/li-next.svg");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
            @media (max-width: 760px) {
                margin: 0 10px;
            }
        }
        &:last-of-type {
            a {
                color: #ffb200;
                opacity: 1;
            }
            &:after {
                display: none;
            }
        }
    }
}

.offer__slider {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $grey;
    .slick-track,
    .slick-list {
        height: 100%;
    }
    .slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 1000px) {
         padding: 100px 0;   
        }
        .button {
            margin-top: 16px;
        }
    }
}

