.reviews {
    padding-top: 120px;

    @media (max-width: 1200px) {
        padding-top: 80px;
    }

    @media (max-width: 700px) {
        padding-top: 50px;
    }

    .reviews-slider {
        position: relative;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        overflow: hidden;

        .scrollableArea {
            /*@include flex($alignI: stretch, $wrap: nowrap);*/
        }

        .scrollingHotSpotLeft,
        .scrollingHotSpotRight {
            display: none!important;
        }
    }

    .review {
        padding: 0 50px;
        color: #797979;
        font-size: 15px;
        position: relative;
        float: left;

        @media (max-width: 1200px) {
            padding: 0 25px;
        }

        @media (max-width: 500px) {
            padding: 0 10px;
        }

        &__content {
            &:before {
                content: '';
                width: 20px;
                height: 18px;
                display: block;
                background-image: url(../images/comments.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                margin-bottom: 24px;
            }
        }

        &__person {
            @include flex($alignI: center);
            padding: 30px 0;
            border-bottom: 1px solid #E5E5E5;

            &__image {
                width: 60px;
                height: 60px;
                margin-right: 20px;
                margin: 0;
                border-radius: 50%;

                img {
                    display: block;
                    width: 100%;
                }
            }

            &__info {
                width: -webkit-calc(100% - 80px);
                width: calc(100% - 80px);

                .name {
                    color: $blue;
                    font-size: 17px;
                }

                .position {
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #9a9a9a;
                }
            }
        }
    }
}