.tabs {
    .col-6 {
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
}
.sanatorium {
    @include flex($alignI: stretch);
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.07);
    @include transition(all,.2s);
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.27);
    }
    &__preview {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 50%;
        @media (max-width: 1000px) {
            width: 300px;
        }
        @media (max-width: 600px) {
            width: 100%;
            height: 200px;
        }
    }

    &__info {
        width: 50%;
        padding: 18px 20px;
        text-align: left;
        
        @media (max-width: 1200px) {
            padding: 14px 12px;
        }
        @media (max-width: 1000px) {
            width: -webkit-calc(100% - 300px);
            width: calc(100% - 300px);
        }
        @media (max-width: 600px) {
            width: 100%;
        }

        &__title {
            font-weight: normal;
            font-size: 17px;
            color: #2d2d2d;
            margin-bottom: 7px;
            @media (max-width: 1200px) {
                font-size: 15px;
            }
        }

        &__place {
            font-size: 13px;
            font-weight: 300;
            color: #888888;
        }

        &__rating {
            padding-bottom: 20px;
            padding-top: 20px;
            @media (max-width: 1200px) {
                padding-bottom: 10px;
            }
        }


        &__price {
            padding-top: 12px;
            font-size: 15px;
            color: $text;
            border-top: 1px solid #EEEEEE;
            margin-top: 20px;
            @media (max-width: 1200px) {
                padding-top: 10px;
            }
            span {
                color: $red;
                font-size: 27px;
                font-weight: 300;
                margin: 0 3px;

                .azn {
                    margin-bottom: 4px;
                    margin-left: 5px;
                }
            }
        }

        &__type {
            color: #9a9a9a;
            font-size: 13px;
            padding-top: 5px;
            padding-bottom: 18px;
            border-bottom: 1px solid #EEEEEE;
            @media (max-width: 1200px) {
                padding-bottom: 10px;
                padding-top: 0;
            }
        }


        &__general-rating {
            padding-top: 18px;
            @media (max-width: 1200px) {
                padding-top: 10px;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }

            .value {
                color: $green;
                font-size: 27px;
                font-weight: 300;
                display: inline-block;
                vertical-align: middle;
            }

            .label {
                display: inline-block;
                vertical-align: middle;
                font-size: 13px;
                color: #9a9a9a;
                line-height: 14px;
                padding-left: 10px;
            }
        }

    }
}



.sanatorium.vertical {
    margin-bottom: 20px;
    
    @media (min-width: 768px) {
        .sanatorium__preview {
            height: 260px;
        }
        .sanatorium__preview,
        .sanatorium__info {
            width: 100%;
        }    
    }
}



.rating-value {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    &:after,
    &:before {
        content: "";
        display: block;
        background-image: url(../images/star.svg);
        background-repeat: space;
        background-position: left top;
        background-size: auto 100%;
        height: 11px;
    }

    &:after {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/star-gold.svg);
    }

    &.star-1:after {
        width: 19%;
    }
    &.star-2:after {
        width: 39%;
    }
    &.star-3:after {
        width: 59%;
    }
    &.star-4:after {
        width: 79%;
    }
    &.star-5:after {
        width: 100%;
    }
}


.rating-reviews {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;

    span,
    a {
        display: block;
        border-bottom: 1px dashed $blue;
        color: $blue;
        font-size: 13px;
        line-height: 13px;
    }
}


