.sanatoriums {
    padding-top: 10px;
    @media (max-width: 600px) {
        padding-top: 0;
    }
}

.sanatorium-tabs {
    padding-bottom: 45px;
    border-bottom: 1px solid #dddddd;
    
    @media (max-width: 600px) {
        padding-bottom: 25px;
    }
    
    .flex-row {
        @include flex($alignI: flex-start, $justify: flex-start);
        margin: 0 -10px;

        &.flex-row-middle {
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
    .sanatorium {
        margin-bottom: 20px;
    }
    .ui-tabs-panel {
        padding: 0;
    }
    .button {
        margin-top: 45px;
        @media (max-width: 600px) {
            margin-top: 25px;
        }
    }
}
.sanatorium-tabs .tabs-controls {
    margin-bottom: 40px;
    padding: 4px;
    background-color: $blue;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    @include flex($alignI: flex-start, $justify: flex-start);

    .ui-tabs-tab {
        width: 25%;
        margin: 0;
        background: #FFF;
        list-style: none;
        border: none !important;
        -webkit-border-radius: 0;
                border-radius: 0;
        @media (max-width: 900px) {
            width: 49%;
            -webkit-border-radius: 4px;
                border-radius: 4px;
                margin: .5% !important;
        }
        @media (max-width: 500px) {
            width: 100%;
            margin: 2px 0px !important;
        }
        a {
            line-height: 65px;
            padding: 0 10px;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 17px;
            color: $text;
            font-family: 'Naste';
            @media (max-width: 1200px) {
                font-size: 15px;
                line-height: 55px;
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 14px;
                -webkit-background-size: 100% 100%;
                     -o-background-size: 100% 100%;
                        background-size: 100% 100%;
                @media (max-width: 1200px) {
                    margin-right: 10px;
                }
            }
            &.recommendedTours:before {
                width: 33px;
                height: 35px;
                background-image: url("../images/recommend.svg");
                @media (max-width: 1200px) {
                    width: 27px;
                    height: 28px;
                }
            }
            &.newTours:before {
                width: 37px;
                height: 37px;
                background-image: url("../images/new.svg");
                @media (max-width: 1200px) {
                    width: 29px;
                    height: 29px;
                }
            }
            &.hotTours:before {
                width: 37px;
                height: 37px;
                background-image: url("../images/hot.svg");
                @media (max-width: 1200px) {
                    width: 29px;
                    height: 29px;
                }
            }
            &.popularTours:before {
                width: 36px;
                height: 36px;
                background-image: url("../images/popular.png");
                @media (max-width: 1200px) {
                    width: 28px;
                    height: 28px;
                }
            }
        }
        &.ui-tabs-active {
            padding: 0;
            margin: 0;
            border: none;
            position: relative;
            background-color: $blue;
            a {
                color: #FFF;
                &.recommendedTours:before {
                    background-image: url("../images/recommend-w.svg");
                }
                &.newTours:before {
                    background-image: url("../images/new-w.svg");
                }
                &.hotTours:before {
                    background-image: url("../images/hot-w.svg");
                }
                &.popularTours:before {
                    background-image: url("../images/popular-w.png");
                }
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -12px;
                left: 0;
                right: 0;
                margin: auto;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $blue;
                @media (max-width: 900px) {
                    display: none;
                }
            }
        }
        &:first-of-type {
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-of-type,
        &:nth-of-type(4n) {
            border: none;
            -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        @media (max-width: 900px) {
            &:first-of-type {
                -webkit-border-top-left-radius: 4px;
                border-top-left-radius: 4px;
                -webkit-border-bottom-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            &:last-of-type,
            &:nth-of-type(4n) {
                border: none;
                -webkit-border-top-right-radius: 4px;
                border-top-right-radius: 4px;
                -webkit-border-bottom-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}
.sanatorium-tabs .ui-widget.ui-widget-content {
    border: none;
    padding: 0;
}