.top-directions {
    padding: 100px 0 100px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    color: #fff;
    z-index: 1;

    @media (max-width: 1200px) {
        padding: 80px 0;
    }

    @media (max-width: 850px) {
        padding: 65px 0;
    }

    &:before {
        content: '';
        width: 100%;
        height: 68px;
        background-image: url(../images/gradient.png);
        background-size: auto 100%;
        background-repeat: repeat-x;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        pointer-events: none;
        background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(245,245,245,0)));
        background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 100%);
        background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 100%);
        background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 100%);
        background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 100%);
    }

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        pointer-events: none;
        bottom: 0;
        right: 0;
        left: 0;
        height: 120px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,37,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(37,37,37,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,37,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,37,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,37,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(37,37,37,1) 100%);
    }

    h2 {
        font-size: 40px;
        font-weight: bold;

        @media (max-width: 850px) {
            font-size: 36px;
        }

        @media (max-width: 650px) {
            font-size: 32px;
        }
    }


    .directions-list {
        text-align: left;
        margin-top: 100px;
        position: relative;
        z-index: 3;

        @media (max-width: 1200px) {
            margin-top: 100px;
            margin-left: 0!important;
            margin-right: 0!important;
        }
        @media (max-width: 850px) {
            margin-top: 75px;
        }
         @media (max-width: 600px) {
            margin-top: 35px;
        }

        .list-item {
            list-style: none;
            margin-bottom: 8px;

            @media (max-width: 991px) {
                font-size: 13px;
            }

            @media (max-width: 850px) {
                width: 33.33%;
            }

            @media (max-width: 650px) {
                width: 50%;
                font-size: 12px;
                padding: 0 5px;
            }

            a {
                color: inherit;
                position: relative;
                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0; right: 0;
                    bottom: -2px;
                    margin: auto;
                    max-width: 0;
                    height: 1.5px;
                    background-color: #fff;
                    @include transition(all,.1s);
                }
                &:hover:after {
                    max-width: 100%;
                }
            }
        }
    }

}