.flex-row.partners {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    @media (max-width: 1200px) {
        margin-left: 0;
        margin-right: 0;
    }

    .partner {
        padding: 0;
        width: -webkit-calc(50% - 20px);
        width: calc(50% - 20px);
        margin: 0 10px;
        display: block;
        color: $text;
        @media (max-width: 1200px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}



.partner {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.27);
    }
    .content-block {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding-top: 20px;

        &-title {
            margin-bottom: 30px;
        }
    }

    .devider {
        margin: 30px 0;
    }

    &__image {
        height: 350px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
}

.flex-row.included {
    @media (max-width: 1200px) {
        margin-bottom: -30px;
    }

    @media (max-width: 520px) {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.included-item {
    @include flex($alignI: center);
    margin-left: -5px;
    margin-right: -5px;

    @media (max-width: 1200px) {
        width: 50%;
        margin-bottom: 30px;
    }

    @media (max-width: 520px) {
        display: block;
        padding: 0 5px;
    }

    &__icon {
        width: 52px;
        margin-right: 20px;

        @media (max-width: 520px) {
            display: block;
            margin: 0 auto 15px;
        }
    }

    &__text {
        width: -webkit-calc(100% - 72px);
        width: calc(100% - 72px);
        text-align: left;
        color: #797979;

        @media (max-width: 520px) {
            width: 100%;
            text-align: center;
            font-size: 13px;
        }
    }
}



.cooperation {
    padding-bottom: 10px;
    text-align: center;

    .accept-conditions {
        position: absolute;
        left: 30px;
        bottom: 65px;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%);

        @media (max-width: 1200px) {
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            margin-bottom: 30px;
        }

        input[type=checkbox] {
            display: none;
        }

        label {
            span {
                display: inline-block;
                vertical-align: middle;
                color: #797979;

                &:before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 2px solid #AAAAAA;
                    border-radius: 50%;
                    background-size: 16px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    margin-right: 15px;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            }

            input:checked + span:before {
                background-image: url(../images/check.svg);
            }
        }
    }

    
    .accept-button.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}