@media (max-width: 1200px) {
  .sidebar {
    width: 250px;
  }

  .page-content {
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
  }
}

@media (max-width: 991px) {
    .page-content {
        .col-4 {
            width: 50%;
        }
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        margin-bottom: 40px;
    }

    .page-content {
        width: 100%;

        .col-4 {
            width: 100%;
        }
    }
}

.sidebar--filters {
    border: 10px solid #eeeeee;
    background-color: #FFF;
    padding: 0;
}

.filter {
    padding: 30px 25px 31px;
    border-bottom: 1px solid #eee;
    text-align: left;
    @media (max-width: 767px) {
        padding: 20px;
        &__info {
            display: none;
        }
    }
    &__title {
        color: #3d8eb9;
        cursor: pointer;
        font-family: "Nexa Script";
        font-size: 27px;
        font-weight: 300;
        line-height: 22px;
        display: block;
        padding-right: 20px;
        background-image: url("../images/down-arrow.svg");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        @media (max-width: 600px) {
            font-size: 22px;
        }
    }
    &__info {
        margin-top: 35px;
    }
    &:last-of-type {
        border: none;
    }
    label {
        display: block;
        margin-bottom: 12px;
        color: #444444;
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        &:before {
            display: block;
            content: "";
            width: 14px;
            height: 14px;
            border-radius: 2px;
            border: 1px solid #dce4e6;
            background: #FFF;
            position: absolute;
            top: 3px;
            left: 0;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &.selected {
            &:before {
                background-image: url("../images/selected.svg");
                background-color: #3d8eb9;
                border-color: #3d8eb9;
            }
        }
        span {
            line-height: 20px;
        }
    }
    input[type="checkbox"] {
        width: 14px;
        height: 14px;
        border-radius: 2px;
        border: 1px solid #dce4e6;
        background: #FFF;
        position: relative;
        opacity: 0;
        position: absolute;
        top: 4px;
        left: 0;
    }
    .search {
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        background-position: 90% 50%;
        margin-bottom: 35px;
        background-color: #FFF;
        border: 1px solid #dce4e6;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}

.range {
    @include flex();
    input {
        width: 110px;
        max-width: 45%;
        height: 50px;
        text-align: center;
        background-color: #FFF;
        border: 1px solid #dce4e6!important;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
#slider-range {
    background: #dce4e6;
    position: relative;
    width: 100%;
    height: 6px;
    margin-top: 40px;
    .ui-slider-handle {
        border: 2px solid #7cc990;
        position: absolute;
        z-index: 2;
        width: 22px;
        height: 22px;
        background-color: #FFF;
        top: -8px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        &:nth-of-type(2) {
            margin-left: -22px;
        }
    }
    .ui-slider-range {
        background: #7cc990;
        position: absolute;
        z-index: 1;
        height: 100%;
    }
}

.filter-list label:nth-of-type(n+8),
.filter__info label:nth-of-type(n+8) {
    display: none;
}

.showLess {
    display: none;
}
.showMore,
.showLess,
.action-button {
    margin-top: 25px;
    font-size: 13px;
    color: #ffa400;
    cursor: pointer;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background-image: url("../images/attention.svg");
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px dotted #ffa400;
        @include transition(all, .2s);
    }
    &:hover {
        span {
            border-color: transparent;
        }
    }
}

.button--img.load-more {
    margin-top: 80px;
    margin-bottom: 100px;
}

.recommended {
    position: relative;
    &:before {
        position: absolute;
        width: 160px;
        height: 42px;
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        top: 25px;
        left: -8px;
        display: inline-block;
        content: '';
        background-image: url("../images/recommend-stripes.png");
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
}