.content-block--registration {
    padding-right: 0;
    padding-bottom: 0;
    @media(max-width: 1200px) {
        padding: 40px;
    }
    @media(max-width: 700px) {
        padding: 20px 10px;
    }
    .content-tabs-controls {
        height: 60px;
        width: 49%;
        margin: 0;
        @media(max-width: 1200px) {
            width: 100%;
            height: auto;
            text-align: center;
        }
    }
    .flex-row {
        -webkit-align-items: stretch;
                align-items: stretch;
    }
    .col-6 {
        position: relative;
        @media(max-width: 1200px) {
            width: 100%;
        }
    }
    .content-tabs-content {
        padding-top: 60px;
        @media(max-width: 1500px) {
            padding-top: 40px;
        }
    }
}

.cabinet-slider {
    margin-top: -150px;
    margin-bottom: 0!important;
    @media(max-width: 1500px) {
        margin-top: -130px;
    }
    @media(max-width: 1200px) {
        margin-top: 0;
        margin: 20px auto;
        width: 500px;
        max-width: 100%;
    }
    .slick-slide {
        width: 100%;
        @media(max-width: 1200px) {
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .slick-dots {
        bottom: 40px;
        text-align: center;
        @media(max-width: 600px) {
            bottom: 20px;
        }
    }
}

.forget {
    border-top: 1px solid #eee;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    @media(max-width: 1500px) {
        padding: 20px 0;
    }
    @media(max-width: 1200px) {
        position: static;
        margin-top: 20px;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        color: #888888;
        font-size: 15px;
        border-bottom: 1px dashed #888888;
        @include transition(all, .2s);
        margin-top: -4px;
    }
    a:hover {
        span {
            border-color: transparent;
        }
    }
}

.documents {
    padding-bottom: 80px;
}
.documents-list {
    margin-top: 45px;
    padding-bottom: 70px;
    button {
        margin: 0 auto;
    }
    @media(max-width: 1000px) {
        -webkit-justify-content: center;
                justify-content: center;
        .col-3 {
            width: 260px;
        }
    }
}
.document-block {
    background-color: #FFF;
    overflow: hidden;
    height: 225px;
    padding: 0;
    border: 10px solid transparent;
    text-align: center;
    color: #666666;
    margin-bottom: 20px;
    > div {
        height: 50%;
        background-color: #FFF;
        -webkit-transition: all .4s;
           -moz-transition: all .4s;
            -ms-transition: all .4s;
             -o-transition: all .4s;
                transition: all .4s;
    }
    &__icon {
        &:before {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            height: 100%;
        }
        i {
            display: inline-block;
            vertical-align: middle;
            width: 46px;
            height: 52px;
            background-image: url("../images/doc.svg");
            background-repeat: no-repeat;
            -webkit-background-size: 100% auto;
                 -o-background-size: 100% auto;
                    background-size: 100% auto;
        }
    }
    &__info {
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        div {
            max-width: 98%;
            display: inline-block;
            vertical-align: middle;
            margin-top: -10px;
            @include transition(margin-top, .2s);
        }
    }
    &__size {
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        a {
            max-width: 98%;
            display: inline-block;
            vertical-align: middle;
            color: #666666;
        }
        i {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto 10px;
            background-image: url("../images/download.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }


    &--xls {
        .document-block__icon  {
            i {
                background-image: url("../images/xls.svg");
            }
        }
    }
    &--pdf {
        .document-block__icon  {
            i {
                background-image: url("../images/pdf.svg");
            }
        }
    }
    &--zip {
        .document-block__icon  {
            i {
                background-image: url("../images/zip.svg");
            }
        }
    }
    &--ppt {
        .document-block__icon  {
            i {
                background-image: url("../images/ppt.svg");
            }
        }
    }
    &--html {
        .document-block__icon  {
            i {
                background-image: url("../images/html.svg");
            }
        }
    }
    &:hover {
        .document-block__info {
            color: #FFF;
            background: $blue;
            div {
                margin-top: 0;
            }
        }
        > div {
            -webkit-transform: translateY(-100%);
               -moz-transform: translateY(-100%);
                -ms-transform: translateY(-100%);
                 -o-transform: translateY(-100%);
                    transform: translateY(-100%);
        }
    }
}

.left {
    width: 50%;
    text-align: left;
}
.right {
    width: 50%;
    text-align: right;
}

.cabinet-tabs {
    padding-bottom: 80px;
}
