.content-block--registration {
    padding-right: 0;
    padding-bottom: 0;
    @media(max-width: 1200px) {
        padding: 40px;
    }
    @media(max-width: 700px) {
        padding: 20px 10px;
    }
    .content-tabs-controls {
        height: 60px;
        width: 49%;
        padding-bottom: 35px;
        border-bottom: 1px solid #eee;
        margin: 0;
        @media(max-width: 1200px) {
            width: 100%;
            height: auto;
            text-align: center;
        }
        li {
            margin: 0 40px 0 0;
            @media (max-width: 767px){
                margin: 0;
            }
            a {
                font-size: 25px;
                font-weight: 300;
                color: #aaaaaa;
                border-color: #aaaaaa;
                @media (max-width: 767px){
                    font-size: 18px;
                }
                @media (max-width: 600px){
                    font-size: 16px;
                }
                @media (max-width: 360px){
                    font-size: 14px;
                }
            }
            &.ui-state-active a {
                color: #3D8EB9;
                border-color: #3D8EB9;
                @media (max-width: 767px){
                    color: #FFF;
                    background-color: #3D8EB9;
                }
            }
        }
    }
    .flex-row {
        -webkit-align-items: stretch;
                align-items: stretch;
    }
    .col-6 {
        position: relative;
        @media(max-width: 1200px) {
            width: 100%;
        }
    }
    .content-tabs-content {
        padding-top: 60px;
        @media(max-width: 1500px) {
            padding-top: 40px;
        }
    }
}

.cabinet-slider {
    margin-top: -150px;
    margin-bottom: 0!important;
    @media(max-width: 1500px) {
        margin-top: -130px;
    }
    @media(max-width: 1200px) {
        margin-top: 0;
        margin: 20px auto;
        width: 500px;
        max-width: 100%;
    }
    .slick-slide {
        width: 100%;
        @media(max-width: 1200px) {
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .slick-dots {
        bottom: 40px;
        text-align: center;
    }
}

.forget {
    border-top: 1px solid #eee;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    @media(max-width: 1500px) {
        padding: 20px 0;
    }
    @media(max-width: 1200px) {
        position: static;
        margin-top: 20px;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        color: #888888;
        font-size: 15px;
        border-bottom: 1px dashed #888888;
        @include transition(all, .2s);
        margin-top: -4px;
    }
    a:hover {
        span {
            border-color: transparent;
        }
    }
}