/* Tools styles */
@import '01-tools/normalize';
/*@import '01-tools/flexboxgrid';*/
@import '01-tools/fonts';
@import '01-tools/slick';
@import '01-tools/slick-theme';
/*@import '01-tools/ui';*/
@import '01-tools/fancybox';
@import '01-tools/smoothDivScroll';


/*Base styles*/
@import '02-base/mixins';
@import '02-base/vars';
@import '02-base/settings';



/*Modules styles*/
@import '03-modules/header';
@import '03-modules/offer';

@import '03-modules/controls';
@import '03-modules/footer';
@import '03-modules/popup';
@import '03-modules/banners';
@import '03-modules/tabs';
@import '03-modules/top-directions';
@import '03-modules/reviews';
@import '03-modules/numbers';
@import '03-modules/sanatorium';

@import '03-modules/sticky-menu';
/*Pages styles*/



@import '04-pages/page-tour';
@import '04-pages/page-about';
@import '04-pages/page-cabinet';
@import '04-pages/page-partners';