
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
  background: url('../images/pattern_.png');
}
body {
    padding-top: 90px;
    font-family: 'Naste';
    font-size: 15px;
    @media (max-width: 1200px) {
      padding-top: 70px;
    }
}

.yellow {
  color: #ffa400;
}
.red {
  color: #ff7753;
}
.blue {
  color: #3d8eb9;
}
.green {
  color: #82c363;
}
.section {
  padding: 75px 0;
}
// lAYOUT
// ---------------------------
.wrapper {
	width: 1440px;
  padding: 0 10px;
  max-width: 100%;
	margin: 0 auto;
	text-align: center;
  @media (max-width: 1500px) {
    width: 1200px;
  }
}


.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -10px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
[class*='col-'] {
    padding: 0 10px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}

.azn {
  display: inline-block;
  vertical-align: text-bottom;
  line-height: inherit;
  width: 21px;
  height: 20px;
  position: relative;
  top: -2px;
  background-image: url("../images/azn.svg");
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  &--red {
    background-image: url("../images/azn-red.svg");
  }
}