
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
  
}
body {
    padding-top: 90px;
    font-family: 'Naste';
    font-size: 15px;
    
    @media (max-width: 1300px) {
      padding-top: 70px;
    }
    @media (max-width: 1100px) {
      padding-top: 0;
    }
    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(.print) {
      background: url('../images/pattern_.png');
    }
}

p {
  line-height: 1.45;
}
.yellow {
  color: #ffa400;
}
.red {
  color: #ff7753;
}
.blue {
  color: #3d8eb9;
}
.green {
  color: #82c363;
}
.section {
  padding: 75px 0;

  &.no-padding-bottom {
    padding-bottom: 0;
  }
  @media (max-width: 600px) {
      padding: 45px 0;
  }
}

article { 
  font-size: 15px;

  @media (max-width: 600px) {
    font-size: 14px;
  }

  &.column-article {
    columns: 2;
    column-gap: 40px;
    margin-bottom: -24px;

    @media (max-width: 767px) {
      columns: 1;
    }

    p,
    ul,
    ol {
      margin-bottom: 24px;
    }
  }

  p,
  ul,
  ol {
      &:not(:last-child) {
          margin-bottom: 24px;
      }
  }
}

.error {
    border: 2px solid red !important;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1440px;
  padding: 0 10px;
  max-width: 100%;
	margin: 0 auto;
	text-align: center;
  @media (max-width: 1500px) {
    width: 1200px;
  }

  @media (max-width: 1200px) {
    width: 100%;
  }
}

section {
  &.has-padding {
    padding: 80px 0;
    @media (max-width: 600px) {
      padding: 60px 0;
    }
  }
}

.content-block {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  text-align: left;
  margin-bottom: 40px;
  position: relative;

  img {
    max-width: 100%;
  }
  
  &--shortText {
    article {
      p {
        max-width: 80%;
      }
    }
  }

  @media (max-width: 1200px) {
    padding: 20px 15px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    padding: 20px 10px;
  }

  &.small-offset-bottom {
    margin-bottom: 5px;
  }

  &.no-offset-bottom {
    margin-bottom: 0;
  }
  &.no-padding-bottom {
    padding-bottom: 0;
  }

  &-title {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;

    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 767px) {
      font-size: 18px;
    }

    &.small {
      font-size: 15px;
      color: #666666;
      font-weight: 400;
      margin-bottom: 30px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }

    &:after {
      content: '';
      height: 1px;
      margin-top: 20px;
      display: block;
      background-color: #eee;

      @media (max-width: 1200px) {
        margin-top: 10px;
      }
    }

    &.has-return {
      position: relative;
      padding-right: 50px;

      .return-back {
        position: absolute;
        right: 0;
        top: 0;
        img {
          display: block;
          margin: 0;
        }
      }

      &:after {
        margin-right: -50px;
      }
    }

    &.no-border:after {
      display: none;
    }

    &.decorated {
      font-family: 'Nexa Script';
      font-weight: 300;
      font-size: 27px;
    }
  }
}

.start-gallery {
  cursor: pointer;
}

.devider {
  border: 0;
  width: 100%;
  margin: 40px 0;
  border-bottom: 1px solid #eee;

  @media (max-width: 991px) {
    margin: 30px 0;
  }
}

.bordered-block {
  border: 1px solid #EEEEEE;
  padding: 10px;
  background-image: url(../images/pattern_.png);
  &.solid {
    background: #eee;
  }

  .inner {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  .content-block {
    margin-bottom: 0 !important;
  }
}



.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -10px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    &--center {
      -webkit-justify-content: center;
              justify-content: center;
    }
}
[class*='col-'] {
    padding: 0 10px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}

.azn,
.rub,
.usd,
.eur {
  display: inline-block;
  vertical-align: baseline;
  line-height: inherit;
  width: 21px;
  height: 20px;
  position: relative;
  background-image: url("../images/azn-w.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
  background-position: 50% 100%;
  &--small {
    width: 16px;
    height: 16px;
  }
}

.azn {
    &--red {
      background-image: url("../images/azn-red.svg");
    }
}
.rub {
  background-image: url("../images/rouble-w.svg");
    &--red {
      background-image: url("../images/rub.svg");
    }
}
.usd {
    background-image: url("../images/dollar-w.svg");
    &--red {
      background-image: url("../images/usd.svg");
    }
}
.eur {
   background-image: url("../images/euro-w.svg");
    &--red {
      background-image: url("../images/eur.svg");
    }
}

.underline-block {
  border-top: 1px solid #eee;
  padding: 20px 0 30px;
  color: #222;
  @media (max-width: 1400px) {
    label {
      display: block;
    }
  }
  > p {
    font-weight: 300;
    font-size: 25px;
  }
  &.flex-row {
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  small {
    color: #888888;
    font-size: 15px;
  }
}

.price {
  color: #ff7753 !important;
    font-size: 25px;
    font-weight: 300;
    margin: 0 3px;
    span {
      color: #ff7753 !important;
      line-height: .9;
      vertical-align: baseline;
      display: inline-block;
      margin-right: 2px;
      span {
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  &.small {
    font-size: 15px;
    font-weight: 300;
    span {
      line-height: 1;
    }
  }
}

.info-text {
  position: relative;
  padding-left: 35px;
  color: #444444;
  text-align: left;
  margin: 24px 0 25px;
  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/info-sign.svg);
    background-size: 100% 100%;
  }
}

.divided-sides {
  position: relative;
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1px;
    margin: auto;
    background-color: #eee;
  }
  .col-6 {
    &:first-of-type {
      padding: 0 !important;
      padding-right: 25px !important;
    }
    &:last-of-type {
      padding: 0 !important;
      padding-left: 25px !important;
    }
  }
}

.blue-text {
  color: #3d8eb9;
  font-size: 15px;
  margin-bottom: 20px;
  span {
    display: block;
    color: #3d8eb9 !important;
  }
}

.popup-result {
  background-color: #ffffff;
  border: 10px solid #7cc990;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  padding: 50px 20%;
  @media (max-width: 700px) {
    padding: 30px 10%;
  }
  i {
    display: block;
    margin: 0 auto 25px;
    text-align: center;
  }
  strong {
    display: block;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    color: #222222;
    font-weight: 400;
    margin-bottom: 25px;
     @media (max-width: 700px) {
       font-size: 20px;
     }
  }
  .button {
    display: block;
    margin: 70px auto 0;
    @media (max-width: 700px) {
      margin-top: 40px;
    }
  }
}

.cooperate--popup {
  padding: 40px 30px;  
  @media (max-width: 400px) {
    padding: 40px 15px;
  }
  form {
    .flex-row {
      -webkit-justify-content: center;
              justify-content: center;
    }
  }
  .button {
    margin-top: 40px;
  }
}

.ui-helper-hidden-accessible {
  padding: 10px;
    width: 100%;
  color: #9A9A9A;
}


.ui-autocomplete {
    position: absolute;
    top: 60px;
    left: 0;
    cursor: default;
    background: rgba(255,255,255, 0.7);
    padding: 0;
    margin: 0;
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
}

.ui-autocomplete .ui-menu-item {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 3px 0 3px 15px;
    font-size: 12px;
    cursor: pointer;
    background: rgba(255,164,0,0.7);
    color:#000;
}

.ui-autocomplete .ui-menu-item:last-child {
    border-bottom: 0;
}
.ui-menu .ui-menu-item a{
    display: block;
}
.ui-menu .ui-menu-item:hover{
    background: rgba(255,164,0,0.5);
    color:#000;
}

.fancybox-container {
  z-index: 100000;
}